<!DOCTYPE html>
<html>
<body>
  <h1>Resultado da Query 2</h1>
  <p>Lista de Usuarios</p>
  {% if query_usuario_perfil %}
    <p>TOTAL: {{query_usuario_perfil | length}}</p>
    {% for row in query_usuario_perfil %}
    <ul>
      <li><p>CPF: {{row.cpf}}</p> </li>
      <li><p>nome: {{row.nome}}</p> </li>
      <li><p>login: {{row.login}}</p> </li>
      <li><p>perfis: {{row.perfis}}</p> </li>
    </ul>
    <br>
    {% endfor %}
  {% else %}
    <p>No results are available.</p>
  {% endif %}
</body>
</html>
